<h2>So you want to add a topic, huh?</h2>

<h3>Categories</h3>
<hr>
{% for cat in categories %}
<div>
    <h4>{{cat.name.title()}}</h4>
    <ul>
        {% for topic in cat.topics %}
        <li>{{topic}}</li>
        {% endfor %}
    </ul>
    <form action="/admin" method="post">
        <div style="margin-left: 1em;">
            <p> Add a topic to {{cat.name.title()}} </p>
            Topic: 
            <input type="hidden" name="category" value="{{cat.name}}">
            <input name="topic">
            <input type="submit" value="Submit"> 
        </div>
    </form>
</div>
<hr>
{% endfor %}

